#editor-container {
  position: relative;
  background: #272822;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  color: #dcdcdc;
  border: 4px solid #fff;
  overflow: hidden;
  height: 500px;
  box-shadow: rgba(0, 2.94, 5.88, 0.1);
}

/* Autocomplete Box */
#autocomplete-box {
  position: absolute;
  background: #252526;
  border: 1px solid #555;
  color: #dcdcdc;
  border-radius: 3px;
  font-size: 14px;
  list-style: none;
  padding: 5px 0;
  width: 200px;
  z-index: 10;
  display: none;
  top: -50px;
}

#autocomplete-box li {
  padding: 5px 10px;
  cursor: pointer;
}

#autocomplete-box li.selected {
  background: #007acc;
  color: #fff;
}

/* Typing Caret */
.typing-caret {
  display: inline-block;
  width: 1ch;
  background: #dcdcdc;
  animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  50% {
    background: transparent;
  }
}
