.accordion-submenu {
  display: none;
}
.accordion-open .accordion-submenu {
  display: block;
}
.apicbase-image-accordion li {
  list-style: none;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 47%;
}
.apicbase-image-accordion li:last-child {
  border-bottom: none;
}
.apicbase-image-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.heading-icon svg path {
  fill: #000;
}
.accordion-open .heading-icon svg path {
  fill: #fcd500;
}
.apicbase-image-wrap {
  width: 45%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 5%;
  text-align: right;
}
.apicbase-content-wrap a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #fcd500;
  padding-bottom: 6px;
}
