.HomepageFrontdoorConnection {
  position: absolute;
}
.animation1 {
  left: 222px;
  top: 257px;
  height: 104px;
}
.animation2 {
  left: 81px;
  top: 257px;
  width: 135px;
  height: 53px;
}
.animation3 {
  left: 402px;
  top: 218px;
  width: 45px;
  height: 143px;
}
.animation4 {
  left: 394px;
  top: 167px;
  width: 12px;
  height: 194px;
}
.animation5 {
  left: 38px;
  top: 347px;
  width: 143px;
  height: 53px;
}
.animationbox-grid {
  --iconSize: 78px;
  position: relative;
  display: grid;
  grid: repeat(6, var(--iconSize)) / repeat(4, var(--iconSize));
  /*  grid-template-areas:
".        apic13      .         .       " 
"apic1  .        apic8 apic3" 
".        apic10 .         apic4 " 
"apic5  .        apic11     .       " 
".        apic14 apic2   .       " 
"apic7 apic9  .         apic15";*/
  gap: 12px;

  grid-template-columns: repeat(6, var(--iconSize));
  grid-template-areas:
    ".       .        apic0      .         .       .       "
    "apic1 .        .        apic2 apic3 .       "
    ".       apic4    apic5 apic6   .       apic7"
    "apic8 .        .        apic9     .       .       "
    ".       .        apic10 apic11  apic12 .       "
    ".       apic13 .        .         apic14   apic15";
}

.animationbox-grid-wrap {
  display: grid;
  justify-items: center;
  position: relative;
  align-items: center;
  width: var(--domGraphicWidth, 540px);
  height: var(--domGraphicHeight, 540px);
  justify-content: flex-start;
}

.animationbox-grid {
  --iconSize: 78px;
  --inactiveSize: 78;
  --activeSize: 88;
  --iconScale: 1;
  --hoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --focusBoxShadow: 0 0 0 2px #4d90fe, inset 0 0 0 2px hsla(0, 0%, 100%, 0.9);
}

.animationbox-box {
  --inactiveSize: 78;
  --activeSize: 88;
  --iconScale: 1;
  position: relative;
  width: calc(1px * var(--iconScale) * var(--inactiveSize));
  height: calc(1px * var(--iconScale) * var(--inactiveSize));
  transform-origin: center;
  transform-box: fill-box;
}

.animationbox-box__link.Link {
  position: absolute;
  inset: 0;
}
.Link {
  font-weight: var(--linkWeight, var(--fontWeightSemibold));
  cursor: pointer;
  color: var(--linkColor);
  opacity: var(--linkOpacity, 1);
  transition: var(--hoverTransition);
  transition-property: color, opacity;
  outline: none;
}

.animationbox-box__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 1px * var(--activeSize) / 2);
  left: calc(50% - 1px * var(--activeSize) / 2);
  width: calc(1px * var(--activeSize));
  height: calc(1px * var(--activeSize));
  border-radius: 8px;
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(
    calc(var(--iconScale) * var(--inactiveSize) / var(--activeSize))
  );
  border: calc(1px / var(--iconScale)) solid #c4ccd8;
  background: #f6f9fc;
}
.animationbox-box__iconLogo {
  transform-origin: top center;
  transform-box: fill-box;
}
.animationbox-box__iconLogo svg {
  display: block;
}
.animationbox-boxOutline {
  stroke-width: calc(1px / var(--iconScale));
}
.animationbox-box__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 1px * var(--activeSize) / 2);
  left: calc(50% - 1px * var(--activeSize) / 2);
  width: calc(1px * var(--activeSize));
  height: calc(1px * var(--activeSize));
  border-radius: 8px;
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(
    calc(var(--iconScale) * var(--inactiveSize) / var(--activeSize))
  );
}
.animationbox-box__link.Link:hover .animationbox-box__icon,
.active-box .animationbox-box__icon {
  box-shadow: 0 12.6px 25.2px -11.5733px rgba(50, 50, 93, 0.25),
    0 7.56px 15.12px -7.56px rgba(0, 0, 0, 0.1);
  background: #fff;
  transform: scale(1.001);
  transition: var(--hoverTransition);
}
.animationbox-box__iconLogo {
  transform-origin: top center;
  transform-box: fill-box;
}
.animationbox-box__iconLogo svg {
  display: block;
}
.animationbox-box__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  font: var(--fontWeightSemibold) 12px/15px var(--fontFamily);
  letter-spacing: 0.2px;
  color: #2e3a55;
  opacity: 0;
  transition: var(--hoverTransition);
}
.animationbox-box__link.Link:hover .animationbox-box__label,
.active-box .animationbox-box__label {
  opacity: 1;
  transition: var(--hoverTransition);
  bottom: 7px;
}
.animationbox-box__iconLogo {
  position: absolute;
  transition: var(--hoverTransition);
}
.animationbox-box__iconLogo.color-icon {
  opacity: 0;
}
.animationbox-box__link.Link:hover .animationbox-box__iconLogo.color-icon,
.active-box .animationbox-box__iconLogo.color-icon {
  opacity: 1;
  transform: scale(0.8);
  transition: var(--hoverTransition);
}

.animationbox-box__link.Link:hover .animationbox-box__iconLogo.border-icon,
.active-box .animationbox-box__iconLogo.border-icon {
  opacity: 0;
  transform: scale(0.75);
  transition: var(--hoverTransition);
}

.svg path {
  stroke-dasharray: 0 192px;
  stroke-dashoffset: 0;
  transition: "stroke-dasharray 0.75s ease-out, stroke-dashoffset 0.75s ease-out";
}
.svg.apic10 path {
  stroke-dasharray: 0 100px;
  stroke-dashoffset: 0;
  transition: "stroke-dasharray 0.75s ease-out, stroke-dashoffset 0.75s ease-out";
}
.svg.apic5 path {
  stroke-dasharray: 0 100px;
  stroke-dashoffset: 0;
  transition: "stroke-dasharray 0.75s ease-out, stroke-dashoffset 0.75s ease-out";
}
.svg {
  position: absolute;
  top: 130px;
  left: 80px;
}

.services div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.75s;
  border-radius: 6px;
}
